@import '../../styles.scss';

// todo fix not being taken
.mobile-filter-btn {
    color: black;
    background-color: $grey-light;
    text-transform: capitalize;
    border-radius: 0;
    width: 15vh;
}