.icon-player {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 3.5em;
    align-self: center;
}

.icon-arrow {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 3.5em;
    padding: .3em;
    &:hover {
        cursor: pointer;
    }
}