@import '../../styles.scss';

.container {
  display: flex;
  align-items: center;
  margin-top: 25vh;
  vertical-align:top;
	transform:rotate(7deg);
  -ms-transform:rotate(-90deg); /* IE 9 */
  -moz-transform:rotate(-90deg); /* Firefox */
  -webkit-transform:rotate(-90deg); /* Safari and Chrome */
  -o-transform:rotate(-90deg);
}

.hr {
    width: 7%;
    margin: 1em;
    border: 1px solid $yellow-gold;
}

.MuiButtonBase-root.apply-filter-btn {
  background-color: $yellow-gold;
  color: white;
  padding: 1em;
  border-radius: 0;
  width: 25vh;
  height: 8vh;

  &:hover {
    background-color: $blue;
  }
}
.MuiButtonBase-root.reset-filter-btn {
  color: $yellow-gold;
  padding: 1em;
  border-radius: 0;
  width: 25vh;
  height: 8vh;

  &:hover {
    background-color: $blue;
    color: white;
  }
}

.filters-container-small {
  width: 90%;
  margin: 1em;
}

.filters-container-medium {
  width: 90vh;
  margin: 1em 1.5em;
}

.filters-drawer-small .MuiDrawer-paper  {
  width: 100%;
}
