@import '../../styles.scss';

:root {
  font-family: "AvertaRegular";
  background-color: $grey-light;
}

.underlight {
    text-decoration: underline;
    text-decoration-color: $blue-light;
}

.divider__container {
    display: flex;
    align-items: center;    
    

}

.hr {
    width: 7%;
    margin: 1em;
    border: 1px solid $yellow-gold;
}

.MuiButtonBase-root.cta-btn {
    background-color: $yellow-gold;
    color: white;
    padding: 1.3em;
    margin-top: 1em;
}

.icon-arrow {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 3.5em;
    padding: .3em;
    &:hover {
        cursor: pointer;
    }
}