@import '../../styles.scss';

.underlight {
    text-decoration: underline;
    text-decoration-color: $blue-light;
}

.divider__container {
    display: flex;
    align-items: center;    
    

}
.hr {
    width: 7%;
    margin: 1em;
    border: 1px solid $yellow-gold;
}